<div class="grid-container">
  <h1>CV WOOOORKS!</h1>

  <ul>

      <h2>2002</h2>
    <!--{{ 'widget.riskReturn.tooltips.performance' | translate }}-->
      <p>     Little Alessio was born :)</p>

      <h2>2015 - 2018</h2>
      <p>Secondary school in Seengen</p>

      <h2>2018 - 2019</h2>
      <p> Music high school in Baldegg, Lucerne <a href="https://ksseetal.lu.ch/Bildungsangebote/Fachmittelschule/berufsfeld_musik">(FMS)</a></p>

      <h2>2019-2023</h2>
      <p> Computer science high school in Aarau and Baden <a href="https://www.ag.ch/de/verwaltung/bks/berufsbildung-mittelschulen/mittelschulen/informatikmittelschule">(IMS)</a></p>

      <h2>2022-2023</h2>
      <p>Software developer Internship at <a href="https://www.finnova.com/de/home">Finnova Bankware AG</a></p>

  </ul>
</div>
