<div class="cv">
  <ul>
      <h2>2002</h2>
      <p>{{"cv.2002" | translate}}</p>

      <h2>2015 - 2018</h2>
      <p>{{"cv.2015" | translate}} </p>

      <h2>2018 - 2019</h2>
      <p> {{"cv.2018" | translate}} - <a href="https://ksseetal.lu.ch/Bildungsangebote/Fachmittelschule/berufsfeld_musik" target="_blank">(FMS)</a></p>

      <h2>2019-2023</h2>
      <p>{{"cv.2019" | translate}} - <a href="https://www.ag.ch/de/verwaltung/bks/berufsbildung-mittelschulen/mittelschulen/informatikmittelschule" target="_blank">(IMS)</a></p>

      <h2>2022-2023</h2>
      <p>{{"cv.2022" | translate}} <a href="https://www.finnova.com/de/home" target="_blank">Finnova Bankware AG</a></p>

      <h2>2024-2024</h2>
      <p>{{"cv.2024" | translate}} - <a href="https://www.youtube.com/watch?v=oH0kwT74WXs" target="_blank">SWISS ARMY</a></p>

      <h2>2024 </h2>
      <p>{{"cv.2025" | translate}} - <a href="https://www.hslu.ch/de-ch/informatik/studium/bachelor/information-and-cyber-security/" target="_blank">HSLU</a></p>
  </ul>
</div>
<app-footer></app-footer>

