<div class="cv">
  <ul>
      <h2>2002</h2>
      <p>{{"cv.2002" | translate}}</p>

      <h2>2015 - 2018</h2>
      <p>{{"cv.2015" | translate}} </p>

      <h2>2018 - 2019</h2>
      <p> {{"cv.2018" | translate}} - <a href="https://ksseetal.lu.ch/Bildungsangebote/Fachmittelschule/berufsfeld_musik">(FMS)</a></p>

      <h2>2019-2023</h2>
      <p>{{"cv.2019" | translate}} - <a href="https://www.ag.ch/de/verwaltung/bks/berufsbildung-mittelschulen/mittelschulen/informatikmittelschule">(IMS)</a></p>

      <h2>2022-2023</h2>
      <p>{{"cv.2022" | translate}} <a href="https://www.finnova.com/de/home">Finnova Bankware AG</a></p>

      <h2>2024</h2>
      <p>{{"cv.2024" | translate}} - <a href="https://www.miljobs.ch/functions/funkaufklaerer">SWISS ARMY</a></p>
  </ul>
</div>
<app-footer></app-footer>

