<div class="hamburger-menu flex">
  <div  class="lanugage" (click)="switchLanguage('de')">
    <img id="image-de" src="assets/germanIcon.jpg" alt="german language" class="image reduced-opacity">
  </div>
  <div class="lanugage" (click)="switchLanguage('en')">
    <img id="image-en" src="assets/englishIcon.png" alt="english language" class="image reduced-opacity">
  </div>
  <div class="lanugage" (click)="switchLanguage('it')">
    <img id="image-it" src="assets/italianIcon.jpeg" alt="italian language" class="image reduced-opacity">
  </div>
  <div class="lanugage" (click)="switchLanguage('fr')">
    <img id="image-fr" src="assets/frenchIcon.jpg" alt="french language" class="image reduced-opacity">
  </div>
</div>

<!--
<div *ngIf="isMenuOpen" class="menu-content">
  Your menu items go here 
  <a href="#">Menu Item 1</a>
  <a href="#">Menu Item 2</a>
  <a href="#">Menu Item 3</a>
</div>
-->

