<div class="grid-container">
  <div> <h1>Please contact me. I'd like to get in touch with you.</h1></div>
  <div class="box">
    <div><img id="image" src="assets/Contact_picture.jpg" alt="contact">
    </div>
    <div>
      <h1>Alessio Cerullo</h1>
      <h2>Ethical hacker & software developer</h2>
      <br>
      <br>
      <br>
      <h1>" I want to be the person who secures your systems, websites and networks,<br> so that you can sleep well at night. "</h1>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div id="center">
        <a href="https://ch.linkedin.com/in/alessio-cerullo-335761214" target="_blank"><img class="contact-images" src="assets/LinkedIN.png" alt="LinkedIn"></a>
        <a href="mailto:a.cerullo.business@gmail.com" target="_blank"><img  class="contact-images" src="assets/email.png" alt="Business E-Mail"></a>
        <a href="https://github.com/Spike991" target="_blank"><img  class="contact-images" src="assets/github.png" alt="Github profile"></a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

