<div class="grid-container">
  <div class="title2"><h1 class="cyber-security">{{"hobby.title" | translate}}</h1> </div>
  <div class="cyber">
    <div><h1 class="cyber-security center">{{"hobby.security.securityTitle" | translate}}</h1>
      <p class="cyber-security">{{"hobby.security.content" | translate}}
        oder Tools <a routerLink="skills">{{"hobby.security.link" | translate}}</a>{{"hobby.security.content2" | translate}}</p>
    </div>
    <div>
      <a href="https://www.youtube.com/watch?v=KEkrWRHCDQU" target="_blank">
        <img id="hackerman" src="assets/hackerman.png" alt="Picture of me as a hackerman">
      </a>
    </div>
  </div>
  <div class="music">
    <div><h1 class="center">{{"hobby.music.musicTitle" | translate}}</h1>
      <p>{{"hobby.music.content" | translate}}</div>
    <br><br><br><br><br><br><br>
    <div class="flex-container">
      <img id="bass" src="assets/bass.jpeg" alt="Playing bass guitar"> &nbsp;
      <img id="sound-engineering" src="assets/tontechnik.jpeg" alt="Sound engineering">
    </div>
  </div>
  <div class="other">
    <div><h1 class="center">{{"hobby.other.otherTitle" | translate}}</h1></div>
    <div><p>{{"hobby.other.content" | translate}}</p>
    </div>
    <div>
      <ul>
        <li>{{"hobby.other.firstBulletPoint" | translate}}</li>
        <li>{{"hobby.other.secondBulletPoint" | translate}}</li>
        <li>{{"hobby.other.thirdBulletPoint" | translate}}</li>
        <li>{{"hobby.other.fourthBulletPoint" | translate}}</li>
        <li>{{"hobby.other.fifthBulletPoint" | translate}}</li>
        <li>{{"hobby.other.sixthBulletPoint" | translate}}</li>
      </ul>
      <div class="flex-container">
      <img id="jogging" src="assets/baslerStadtlauf.jpeg" alt="Me jogging">
      <img id="snowboard" src="assets/Snowboard.jpeg" alt="Me snowboarding">
    </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

