<div class="grid-container">
  <div class="title2"><h1 class="cyber-security">Hobbies</h1></div>
  <div class="cyber">
    <div><h1 class="cyber-security center">Cyber Security</h1>
      <p class="cyber-security">Cyber Security ist einer meiner grössten Passion. Mich hat die Welt
        der Hackers immer schon gefallen. Meiner Meinung nach ist es die Königsdisziplin der
        Informatik und vereinigt alle Themengebiete der Technik zusammen unter einem Hut.
        <br> <br>In der Freizeit, befasse ich mich gerne mit Cyber Security spezifischen
        Technologien
        oder Tools <a routerLink="skills">(siehe Skills Seite)</a>. Ansonsten mache ich in einigen
        CTFs mit (Hack the box,
        Swiss hacking challenge, bug bounty programme etc.)</p>
    </div>
    <div>
      <a href="https://www.youtube.com/watch?v=KEkrWRHCDQU" target="_blank">
        <img id="hackerman" src="assets/hackerman.png" alt="Picture of me as a hackerman">
      </a>
    </div>
  </div>
  <div class="music">
    <div><h1 class="center">Musik</h1>
      <p>Musik war die erste Passion, die ich kennenlernen durfte. Bereits mit jungen Jahren durfte
        ich hinter dem Klavier/Keyboard sitzen und schon auf die Tasten schlagen. Mittlerweile
        wimmle ich mich in verschieden Gebiete in der Musik herum und bin in einer eigenen Band!
        <br>Zudem befasse ich mich teilweise mit der Tontechnik, dem Producen/Mischen, dem Djing und
        spiele Orgel und Bass. Man könnte fast schon wie in der Cyber Secuirty behaupten, dass ich
        ein "All rounder" bin :P.</p></div>
    <div class="">
      <img id="bass" src="assets/bass.jpeg" alt="Playing bass guitar"> &nbsp;
      <img id="sound-engineering" src="assets/tontechnik.jpeg" alt="Sound engineering">
    </div>
  </div>
  <div class="other">
    <div><h1 class="center">Diverses</h1></div>
    <div><p>Neben der Musik und der Cyber Sicherheit, habe ich noch andere Hobbies, die mir wichtig
      sind, die ich jedoch nicht kontinuerlich nachverfolge. Darunter gehören zum Beispiel: </p>
    </div>
    <div>
      <ul>
        <li>Schach spielen (Lieblingsopening: London opening)</li>
        <li>Astronomie & Physik</li>
        <li>Snowboarden / Ski fahren</li>
        <li>Joggen oder ins Gym</li>
        <li>Kochen (Meine Spezialität: Spaghetti Carbonara)</li>
        <li>Zeit mit der Familie und Freunden verbringen</li>
      </ul>
      <img id="jogging" src="assets/baslerStadtlauf.jpeg" alt="Me jogging">
    </div>
  </div>
</div>
<app-footer></app-footer>

