.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  max-height: 100px;
  height: 800px;
  gap: 20px;
  grid-template-areas:
    "header header header"
    "cybersecurity music others"
}
.item-1{
  display: flex;
  grid-area: header;
  justify-content: center;
  height: 20%;
}

.item-2{
  display: flex;
  grid-area: cybersecurity;
  background-color: black;
  border: white solid;
  justify-content: center;
  opacity: 0.9;
  height: 80%;
}

.item-3{
  display: flex;
  justify-content: center;
  background-color: gray;
  border: white solid;
  grid-area: music;
}

.item-4{
  display: flex;
  justify-content: center;


  grid-area: others;
}

p {
  color: white;
  opacity: 1.0;
}
