<div class="grid-container">
  <div class="skill-intro"></div>
  <div class=" skill-intro">
    <br>
    <h1>Welcome to my skills site!</h1>
    <p class="white-text"> <br>Here I wanna give you a little view of which technologies or skills I gained over the years!
    Please be aware. &nbsp;This is mostly my point of view and I rather rate it attentionaly than overrate myself.
      &nbsp;The most important part is that I'm motivated on every single technology/tools/languages and <b>there's always room
    for improvements ;) !</b></p>
  </div>
</div>
<div class="skill">
  <h1 id="programming-languages">Technology Stack (Programming Languages)</h1>
  <li><h3>Angular (HTML, CSS, TS)</h3>
    <span class="bar"><span class="angular"></span></span>
  </li>
  <li><h3>Python</h3>
    <span class="bar"><span class="python"></span></span>
  </li>
  <li><h3>Java (Spring Boot)</h3>
    <span class="bar"><span class="java"></span></span>
  </li>
  <li><h3>C#</h3>
    <span class="bar"><span class="c-sharp"></span></span>
  </li>
  <li><h3>GO</h3>
    <span class="bar"><span class="go"></span></span>
  </li>
  <li><h3>C (especially with microcomputers [Arduino, Raspberry Pi])</h3>
    <span class="bar"><span class="c"></span></span>
  </li>

  <h1 id="tools">Technology Tools/OS</h1>
  <li><h3>Git</h3>
    <span class="bar-tools"><span class="git"></span></span>
  </li>
  <li><h3>DevOps (Realease mngmt, QAT/Prod Env, YAML, Docker, Gitlab etc.)</h3>
    <span class="bar-tools"><span class="devOps"></span></span>
  </li>
  <li><h3>Office 365 / libreoffice(Linux)</h3>
    <span class="bar-tools"><span class="office"></span></span>
  </li>
  <li><h3>Google dorks, ChatGPT</h3>
    <span class="bar-tools"><span class="dorks"></span></span>
  </li>
  <li><h3>Adobe Programme (Photoshop, Illustrator, Premiere)</h3>
    <span class="bar-tools"><span class="adobe"></span></span>
  </li>
  <li><h3>Linux (Ubuntu, Debian, Kali, parrot)</h3>
    <span class="bar-tools"><span class="linux"></span></span>
  </li>

  <h1 id="cyber-security">Cyber Security</h1>
  <li><h3>Cryptology (Blockchain, Hash, RSA, PRNGs, TLS/SSL, OAuth, Shors-Algorithm etc.)</h3>
    <span class="bar-security"><span class="cryptology"></span></span>
  </li>
  <li><h3>Nmap</h3>
    <span class="bar-security"><span class="nmap"></span></span>
  </li>
  <li><h3>Metasploit</h3>
    <span class="bar-security"><span class="metasploit"></span></span>
  </li>
  <li><h3>Autopsy (IT-forensics)</h3>
    <span class="bar-security"><span class="autopsy"></span></span>
  </li>
  <li><h3>Wireshark</h3>
    <span class="bar-security"><span class="wireshark"></span></span>
  </li>
  <li><h3>Reverse Engineering</h3>
    <span class="bar-security"><span class="reverse-engineering"></span></span>
  </li>
  <li><h3>Social Engineering (SET, Maltego, Phishing, Baiting, Pretexting etc.)</h3>
    <span class="bar-security"><span class="social-engineering"></span></span>
  </li>
  <li><h3>Vulnerability Management (Nexus, package mngmt etc.)</h3>
    <span class="bar-security"><span class="vulnerability-management"></span></span>
  </li>
  <li><h3>Web Security (OWASP, Burp Suite, XSS, CSRF etc.)</h3>
    <span class="bar-security"><span class="web-security"></span></span>
  </li>


  <h1 id="languages">Languages</h1>
  <li><h3>English (B2)</h3>
    <span class="bar-language"><span class="english"></span></span>
  </li>
  <li><h3>Deutsch (Muttersprache)</h3>
    <span class="bar-language"><span class="german"></span></span>
  </li>
  <li><h3>Italiano (B1)</h3>
    <span class="bar-language"><span class="italian"></span></span>
  </li>
  <li><h3>Français (B1)</h3>
    <span class="bar-language"><span class="french"></span></span>
  </li>
</div>
