<div class="grid-container">
  <div class="skill-intro"></div>
  <div class=" skill-intro">
    <br>
    <h1>{{"skills.title" | translate}}</h1>
    <p class="white-text"> {{"skills.foreword" | translate}}</p>
  </div>
</div>
<div class="skill">
  <h1 id="programming-languages">{{"skills.technologies.technologiesTitle" | translate}}</h1>
  <li><h3>Angular (HTML, CSS, TS)</h3>
    <span class="bar"><span class="angular"></span></span>
  </li>
  <li><h3>Python</h3>
    <span class="bar"><span class="python"></span></span>
  </li>
  <li><h3>Java (Spring Boot)</h3>
    <span class="bar"><span class="java"></span></span>
  </li>
  <li><h3>C#</h3>
    <span class="bar"><span class="c-sharp"></span></span>
  </li>
  <li><h3>GO</h3>
    <span class="bar"><span class="go"></span></span>
  </li>
  <li><h3>{{"skills.technologies.c" | translate}}</h3>
    <span class="bar"><span class="c"></span></span>
  </li>

  <h1 id="tools">{{"skills.tools.toolsTitle" | translate}}</h1>
  <li><h3>Git</h3>
    <span class="bar-tools"><span class="git"></span></span>
  </li>
  <li><h3>DevOps (Realease mngmt, QAT/Prod Env, YAML, Docker, Gitlab etc.)</h3>
    <span class="bar-tools"><span class="devOps"></span></span>
  </li>
  <li><h3>Office 365 / libreoffice(Linux)</h3>
    <span class="bar-tools"><span class="office"></span></span>
  </li>
  <li><h3>Google dorks, ChatGPT</h3>
    <span class="bar-tools"><span class="dorks"></span></span>
  </li>
  <li><h3>{{"skills.tools.adobe" | translate}}</h3>
    <span class="bar-tools"><span class="adobe"></span></span>
  </li>
  <li><h3>Linux (Ubuntu, Debian, Kali, parrot)</h3>
    <span class="bar-tools"><span class="linux"></span></span>
  </li>

  <h1 id="cyber-security">{{"skills.security.securityTitle" | translate}}</h1>
  <li><h3>{{"skills.security.cryptology" | translate}}</h3>
    <span class="bar-security"><span class="cryptology"></span></span>
  </li>
  <li><h3>Nmap</h3>
    <span class="bar-security"><span class="nmap"></span></span>
  </li>
  <li><h3>Metasploit</h3>
    <span class="bar-security"><span class="metasploit"></span></span>
  </li>
  <li><h3>{{"skills.security.autopsy" | translate}}</h3>
    <span class="bar-security"><span class="autopsy"></span></span>
  </li>
  <li><h3>Wireshark</h3>
    <span class="bar-security"><span class="wireshark"></span></span>
  </li>
  <li><h3>Reverse Engineering</h3>
    <span class="bar-security"><span class="reverse-engineering"></span></span>
  </li>
  <li><h3>Social Engineering (SET, Maltego, Phishing, Baiting, Pretexting etc.)</h3>
    <span class="bar-security"><span class="social-engineering"></span></span>
  </li>
  <li><h3>{{"skills.security.vulnerability" | translate}}</h3>
    <span class="bar-security"><span class="vulnerability-management"></span></span>
  </li>
  <li><h3>{{"skills.security.web" | translate}}</h3>
    <span class="bar-security"><span class="web-security"></span></span>
  </li>


  <h1 id="languages">{{"skills.languages.title" | translate}}</h1>
  <li><h3>{{"skills.languages.english" | translate}}</h3>
    <span class="bar-language"><span class="english"></span></span>
  </li>
  <li><h3>{{"skills.languages.german" | translate}}</h3>
    <span class="bar-language"><span class="german"></span></span>
  </li>
  <li><h3>{{"skills.languages.italian" | translate}}</h3>
    <span class="bar-language"><span class="italian"></span></span>
  </li>
  <li><h3>{{"skills.languages.french" | translate}}</h3>
    <span class="bar-language"><span class="french"></span></span>
  </li>
</div>
