<div class="grid-container">
  <div class="item-1">
<span class="title"> </span>
  </div>
  <div class="item-2">
    <div class="wrapper">
      <img src="assets/Me.png" alt="" class="image">
      <div class="middle">
        <a routerLink="curriculumvitae">
          <div class="text" style="background-color: dodgerblue">Curriculum Vitae</div>
        </a>
      </div>
    </div>
  </div>

<div class = "item-3" class="Test">
  Change Language?
  <select name="language" id="language">
    <option value="english">english</option>
    <option value="deutsch">deutsch</option>
    <option value="italiano">italiano</option>
    <option value="français">français</option>
  </select>
</div>
</div>
