<!-- this is the navbar-->
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="">
    <mat-icon>Home</mat-icon>
  </button>

  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="curriculumvitae">
    <mat-icon>CV</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="skills">
    <mat-icon>Skills</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="hobby">
    <mat-icon>Hobby</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="contact">
    <mat-icon>contact</mat-icon>
  </button>
</mat-toolbar>
