<!-- this is the navbar-->
<div class="top-bar-component">
<mat-toolbar>
  <button id="homeButton"  routerLink="">
    <img id="home" src="assets/homeIcon.png" alt="Homepage">
  </button>

  <span class="example-spacer"></span>
  <button class="button" mat-button  routerLink="curriculum vitae">
    CV
  </button>
  <button class="button" mat-button routerLink="skills">
    Skills
  </button>
  <button class="button" mat-button  routerLink="hobby">
    Hobby
  </button>
  <button class="button" mat-button  routerLink="contact">
   Contact
  </button>
  <div class="space-bar"></div>
  <app-language-hamburger-menu></app-language-hamburger-menu>
</mat-toolbar>
</div>
